.restaurant-card {
    border: none;
    border-radius: 8px;
    padding: 5%;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant-card:hover {
    box-shadow: 12px 12px 12px 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    transform: scale(1.1);
    /* light gray */
}

.restaurant-card img {
    width: 100%;
    /* Ensure the image takes up the full width of the card */
    height: 200px;
    /* Set a fixed height for the images */
    object-fit: cover;
    /* Ensure the image covers the entire area while maintaining aspect ratio */
    border-radius: 8px 8px 0 0;
}

.restaurant-card h2 {
    margin: 10px 0;
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.restaurant-card h3 {
    margin: 10px 0;
    color: #666666;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.restaurant-card h2.price {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.restaurants-grid {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Modern and beautiful styling for filter and search bar */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    justify-content: space-between;
    /* Align items to the left and right */
    align-items: center;
    width: 100%;
    max-width: 800px;
    /* Adjust as needed */
    margin-bottom: 20px;
}

.filter-dropdown {
    caret-color: transparent;
}

.filter-dropdown,
.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.filter-dropdown .basic-multi-select,
.search-container input {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    /* Remove the border */
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.filter-dropdown .basic-multi-select .select__control {
    border: none;
    /* Remove the border */
    box-shadow: none;
    /* Remove the box shadow */
}

.filter-dropdown .basic-multi-select:focus,
.search-container input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.filter-dropdown .basic-multi-select:hover,
.search-container input:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.filter-dropdown .basic-multi-select::placeholder,
.search-container input::placeholder {
    color: #aaa;
}

.filter-dropdown label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

@media (max-width: 700px) {
    .restaurants-grid {
        grid-template-columns: 1fr;
    }

    .controls {
        flex-direction: column;
        align-items: stretch;
    }

    .search-container {
        text-align: center;
        padding-bottom: 20px;
    }
}

.header-divider {
    margin-top: 2%;
    margin-bottom: 2%;
}