body {
    background-color: #eedfc1;
    font-family: 'Playfair Display', sans-serif;
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.home {
    padding: 2%
}

.wrapper {
    display: grid;
    grid-gap: 30px;
}

.text {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    font-size: 1.9vw;
}

.image {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    margin-right: 20px;
}

.hamburguer {
    margin-top: 18%;
    width: 648px;
    height: 1000px;
}

.container {
    overflow: hidden;
    will-change: transform;
}

.brand {
    font-family: 'Shadows Into Light', sans-serif !important;
    display: flex;
    justify-content: space-around;
    animation: moveRightToLeft 11s linear infinite;
    width: 200%;
}

h1 {
    color: #333;
    font-size: 4em;
}

h2 {
    color: #333;
    font-size: 2em;
}

.howItStarted {
    text-align: left;
    margin-left: 5%;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 7vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    h3 {
        font-size: 3vw;
    }

    p {
        font-size: 3.5vw;
        margin-left: 0%;
    }

    .howItStarted {
        padding: 2%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hamburguer {
        margin: 0 0 0 0;
        width: 80vw;
        height: auto;
    }

    .image {
        margin-right: 0%;
    }
}