body {
    background-color: #eedfc1;
    font-family: 'Playfair Display', sans-serif;
}

@keyframes moveRightToLeft {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.wrapper {
    display: grid;
    grid-gap: 30px;
}

.text {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    font-size: 2em;
}

.image {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    margin-right: 20px;
}

.hamburguer {
    margin-top: 18%;
    width: 648px;
    height: 1000px;
}

.container {
    overflow: hidden;
    will-change: transform;
}

.brand {
    font-family: 'Shadows Into Light', sans-serif !important;
    display: flex;
    justify-content: space-around;
    animation: moveRightToLeft 11s linear infinite;
    width: 200%;
}

h1 {
    color: #333;
    font-size: 4em;
}

h2 {
    color: #333;
    font-size: 1.5em;
}

.howItStarted {
    text-align: left;
    margin-left: 5%;
    display: grid;
}